version: "3.9"

services:
  localnet:
    build:
      context: ./localnet
      dockerfile: Dockerfile
    container_name: localnet
    volumes:
      - ${LOCALNET_CONFIG:-}:/localnet-config
    environment:
      WITH_GRAPHQL: ${WITH_GRAPHQL}
      WITH_INDEXER: ${WITH_INDEXER}
    networks:
      - sui

  seal:
    build:
      context: ./seal-server
      dockerfile: Dockerfile
    container_name: seal
    environment:
      SEAL_SERVER_URL: ${SEAL_SERVER_URL}
    networks:
      - sui

networks:
  sui:
    external: true
