version: "3.9"

services:
  localnet:
    build:
      context: ./localnet
      dockerfile: Dockerfile
      args:
        SUI_LOCALNET_VERSION: ${SUI_LOCALNET_VERSION:-latest}
    container_name: localnet
    volumes:
      - ${LOCALNET_CONFIG:-./localnet-config}:/home/user/localnet-config
    environment:
      WITH_GRAPHQL: ${WITH_GRAPHQL}
      WITH_INDEXER: ${WITH_INDEXER}
    networks:
      - sui

  seal:
    build:
      context: ./seal-server
      dockerfile: Dockerfile
      args:
        SUI_LOCALNET_VERSION: ${SUI_LOCALNET_VERSION:-latest}
    container_name: seal
    environment:
      SEAL_SERVER_URL: ${SEAL_SERVER_URL}
    networks:
      - sui

  walrus:
    build:
      context: ./walrus
      dockerfile: Dockerfile
      args:
        SUI_LOCALNET_VERSION: ${SUI_LOCALNET_VERSION:-latest}
    container_name: walrus
    environment:
      WALRUS_ADDRESS: ${WALRUS_ADDRESS}
    networks:
      - sui

networks:
  sui:
    external: true
